body {
    align-items: center;
    text-align: center;
    font-family: tahoma;
    background-color: #ccf4ff;
}

.err {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

input, button {
    padding: 10px;
    margin: 5px;
}

.page2{
    background-color: #c2a8fb;
}